@{
    BlogsPageViewModel model = Model;
}

<section id="banner" class="py-3" style="background: #F9F3EC;">
    <div class="container">
        <div class="hero-content py-5 my-3">
            <h2 class="display-1 mt-3 mb-0">Blog</h2>
            <nav class="breadcrumb">
                <a class="breadcrumb-item nav-link" href="#">Home</a>
                <a class="breadcrumb-item nav-link" href="#">Pages</a>
                <span class="breadcrumb-item active" aria-current="page">Blog</span>
            </nav>
        </div>
    </div>
</section>

<div class="my-5 py-5">
    <div class="container">
        <div class="row entry-container">
           @foreach(var blog in model.Blogs)
            {
                <div class="entry-item col-md-4 my-4">
                    <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                        <h3 class="secondary-font text-primary m-0">@blog.DayOfMonth</h3>
                        <p class="secondary-font fs-6 m-0">@blog.ShortMonth</p>
                    </div>
                    <div class="card position-relative">
                        <a asp-controller="Blog" asp-action="single" asp-route-id="@blog.Id"><img src="~/images/@blog.ImageUrl" class="img-fluid rounded-4" alt="image"></a>
                        <div class="card-body p-0">
                            <a asp-controller="Blog" asp-action="single" asp-route-id="@blog.Id">
                                <h3 class="card-title pt-4 pb-3 m-0">@blog.Title</h3>
                            </a>

                            <div class="card-text">
                                <p class="blog-paragraph fs-6">
                                    @blog.ShortDescription
                                </p>
                                <a asp-controller="Blog" asp-action="Single" asp-route-id="@blog.Id" class="blog-read">read more</a>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
        <nav class="navigation paging-navigation text-center mt-3" role="navigation">
            <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
                <a href="#" class="pagination-arrow d-flex align-items-center mx-3">
                    <iconify-icon icon="ic:baseline-keyboard-arrow-left" class="pagination-arrow fs-1"></iconify-icon>
                </a>
                <span aria-current="page" class="page-numbers mt-2 fs-3 mx-3 current">1</span>
                <a class="page-numbers mt-2 fs-3 mx-3" href="#">2</a>
                <a class="page-numbers mt-2 fs-3 mx-3" href="#">3</a>
                <a href="#" class="pagination-arrow d-flex align-items-center mx-3">
                    <iconify-icon icon="ic:baseline-keyboard-arrow-right" class="pagination-arrow fs-1"></iconify-icon>
                </a>
            </div>
        </nav>
    </div>
</div>