@using Petshop.BLL.ViewModels.GeneralViewModels
@{
    SingleBlogViewModel model = Model;
    var blog = model.Blog;
    var comments = model.Comments;
    var nextBlogId = model.NextBlogId;
    var previousBlogId = model.PreviousBlogId;
    var nextBlogTitle = model.NextBlogTitle;
    var previousBlogTitle = model.PreviousBlogTitle;
}

<section id="banner" class="py-3" style="background: #F9F3EC;">
    <div class="container">
        <div class="hero-content py-5 my-3">
            <h2 class="display-1 mt-3 mb-0">@blog.Title</h2>
            <nav class="breadcrumb">
                <a  asp-controller="Home" asp-action="Index">Home</a>/
                <a asp-action="Index" asp-controller="Blog">Blog</a>/
                <a asp-controller="Blog" asp-action="Single" asp-route-id="@blog.Id">@blog.Title</a>
            </nav>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="mt-5">
            <div class="post-meta">
                <span class="post-category">Pets</span>/<span class="meta-date">@blog.CreatedAt.ToString("dd/MM/yyyy")</span>
            </div>
            <h1 class="page-title">@blog.Title</h1>
        </div>
    </div>
</section>

<div>
    <div class="container">
        <div class="row">
            <main class="post-grid">
                <div class="row">
                    <article class="post-item">
                        <div class="post-content">
                            <div class="post-thumbnail mb-5">
                                <img src="~/images/@blog.ImageUrl" alt="single-post" class="img-fluid">
                            </div>
                            <div class="post-description py-4">
                                <p>
                                    <strong>
                                        @blog.ShortDescription
                                    </strong>
                                </p>

                                @blog.Content

                                <div class="post-tags mt-5">
                                    <div class="block-tag col-md-12">
                                        <ul class="list-unstyled d-flex">
                                            <li class="pe-3">
                                                <a href="#" class="btn btn-dark fs-6 py-2 px-3">Pets</a>
                                            </li>
                                            <li class="pe-3">
                                                <a href="#" class="btn btn-dark fs-6 py-2 px-3">Puppy</a>
                                            </li>
                                            <li class="pe-3">
                                                <a href="#" class="btn btn-dark fs-6 py-2 px-3">Cat</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div id="single-post-navigation" class="my-5">
                                <div class="post-navigation d-flex flex-wrap align-items-center justify-content-between">
                                    
                                    @if(previousBlogId != 0)
                                    {
                                        <a itemprop="url" class="post-prev d-flex flex-column text-decoration-none"
                                            asp-controller="Blog" asp-action="Single" asp-route-id="@previousBlogId" title="Previous Post">
                                            <span class="text-muted">Previous</span>
                                            <h3 class="page-nav-title">@previousBlogTitle</h3>
                                        </a>
                                    }

                                    @if(nextBlogId != 0)
                                    {
                                        <a itemprop="url" class="post-next d-flex flex-column text-decoration-none" asp-controller="Blog" asp-action="Single"
                                            asp-route-id="@nextBlogId" title="Next Post">
                                            <span class="text-muted">Next</span>
                                            <h3 class="page-nav-title">@nextBlogTitle</h3>
                                        </a>
                                    }   
                                    
                                </div>
                            </div>

                        </div>
                    </article>

                    <!-- comments -->
                    <section id="post-comment">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="comments-wrap">
                                        <h2 class="display-6 fw-normal text-dark my-5">
                                            <span class="count">@comments.Count</span> Comments
                                        </h2>
                                        <div class="comment-list padding-small">
                                            
                                            @try
                                            {
                                                @for (int i = 0; i < comments.Count(); i++)
                                                {
                                                    if (comments[i].ParentCommentId == 0)
                                                    {
                                                        <article class="comment-item d-flex flex-wrap">
                                                            <div class="col-lg-1 col-sm-3 me-4 mb-3">
                                                                <img src="images/reviewer-3.jpg" alt="default" class="img-fluid rounded-circle">
                                                            </div>
                                                            <div class="col-lg-10 col-sm-9 author-wrap">
                                                                <div class="author-post">
                                                                    <div class="comment-meta d-flex">
                                                                        <h4 class="author-name text-dark pe-1">@comments[i].AuthorName</h4>
                                                                        <span class="meta-date text-muted">@comments[i].CreatedAt.ToString("MMM, dd")</span>
                                                                    </div>
                                                                    <p class="no-margin">
                                                                        @comments[i].Content
                                                                    </p>
                                                                    <div class="comments-reply">
                                                                        <a href="#" class="text-decoration-underline text-dark">Reply Now</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        if(i == comments.Count() - 1)
                                                        {
                                                            break;
                                                        }

                                                        @for (int j = i + 1; j < comments.Count(); j++)
                                                        {
                                                            if (comments[j].ParentCommentId == comments[i].Id)
                                                            {
                                                                <article class="comment-item d-flex child-comments flex-wrap ps-5 mb-3">
                                                                    <div class="col-lg-1 col-sm-3 me-4 mb-3">
                                                                        <img src="images/reviewer-2.jpg" alt="default" class="img-fluid rounded-circle">
                                                                    </div>
                                                                    <div class="col-lg-10 col-sm-9 author-wrap">
                                                                        <div class="author-post">
                                                                            <div class="comment-meta d-flex">
                                                                                <h4 class="author-name text-dark pe-1">Santie Mary</h4>
                                                                                <span class="meta-date text-muted">@comments[j].CreatedAt.ToString("MMM, dd")</span>
                                                                            </div>
                                                                            <p class="no-margin">
                                                                                Tristique tempis condimentum diam done ullancomroer sit element
                                                                                henddg sit he consequert.Tristique tempis condimentum diam done ullancomroer sit element
                                                                                henddg sit he consequert.
                                                                            </p>
                                                                            <div class="comments-reply">
                                                                                <a href="#" class="text-decoration-underline text-dark">Reply Now</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            }
                                                        }
                                                    }
                                                }
                                            } catch
                                            {
                                                <div>Error loading comments...</div>
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="comment-respond pt-3 mt-5">
                                        <h2 class="display-6 fw-normal text-dark my-5">Leave a Comment</h2>

                                        <form id="form" class="form-group flex-wrap">
                                            <div class="form-input col-lg-12 d-flex mb-3">
                                                <input type="text" name="email" placeholder="Write Your Name Here*"
                                                       class="form-control ps-3 me-3">
                                                <input type="text" name="email" placeholder="Write Your Email Here*"
                                                       class="form-control ps-3">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <textarea placeholder="Write Your Message Here*" class="form-control ps-3"
                                                          rows="8"></textarea>
                                            </div>
                                            <div class="d-grid">
                                                <button class="btn btn-arrow btn-primary btn-lg btn-pill btn-dark fs-6">Submit</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- / comments -->

                </div>
            </main>
        </div>
    </div>
</div>

<section id="latest-blog" class="my-5">
    <div class="container py-5 my-5">
        <div class="row mt-5">
            <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
                <h2 class="display-3 fw-normal">Recent Blog Post</h2>
                <div>
                    <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                        Read all
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">20</h3>
                    <p class="secondary-font fs-6 m-0">Feb</p>

                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="images/blog1.jpg" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">10 Reasons to be helpful towards any animals</h3>
                        </a>

                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                At the core of our practice is the idea that cities are the incubators of
                                our greatest
                                achievements, and the best hope for a sustainable future.
                            </p>
                            <a href="single-post.html" class="blog-read">read more</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">21</h3>
                    <p class="secondary-font fs-6 m-0">Feb</p>

                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="images/blog2.jpg" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">How to know your pet is hungry</h3>
                        </a>

                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                At the core of our practice is the idea that cities are the incubators of
                                our greatest
                                achievements, and the best hope for a sustainable future.
                            </p>
                            <a href="single-post.html" class="blog-read">read more</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">22</h3>
                    <p class="secondary-font fs-6 m-0">Feb</p>

                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="images/blog3.jpg" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">Best home for your pets</h3>
                        </a>

                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                At the core of our practice is the idea that cities are the incubators of
                                our greatest
                                achievements, and the best hope for a sustainable future.
                            </p>
                            <a href="single-post.html" class="blog-read">read more</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
